* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

.header {
border: 3px solid aqua;
background-color: #000;
margin: 0px 0px 3px 0px;
}

.header .container {
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;

}

.header .container ul {
    color: orange;
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.header a {
    text-decoration: none;
    color: orange;}


.header h1 {color: aqua;}
